/*---TEXTOS---*/

main .titulo {
    font-family: "Arvo", serif;
    font-style: normal;
}

.titulo, p#cita, .pie {
    text-align: center;
    margin: 1rem;
}

p {
    text-align: justify;
    margin: 1rem;
}

main {
    background-color: white;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding: 2% 5%;
    border-radius: 1rem;
    border: 0.5rem double rgb(97, 97, 97);
}

footer {
    background-color: white;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding: 1%;
    border: 0.5rem groove rgb(177, 63, 91);
    border-radius: 3rem;
}


.linea {
    color: #00365a;
    margin: 2rem;
}

/*---Material multimedial---*/
body {
    background-image: url("../img/fondo.png");
    background-repeat: repeat;
}

.imagenhorizontal {
    width: 40rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    border: 0.5rem groove rgb(99, 0, 138)
}

.imagenvertical{
    width: 20rem;
    text-align: center;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    border: 0.5rem groove rgb(99, 0, 138)
}

.imagenvertical {
    width: 20rem;
    text-align: center;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    border: 0.5rem groove rgb(99, 0, 138)
}

.video {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    border: 0.5rem groove rgb(99, 0, 138)
}

/*---Contenedor---*/
.contenedor {
    width: 100%;
    max-width: 1366px;
}

/*---Borde---*/



/*---Barra de navegación*---*/

*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #920c1e;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 #0a0101;
    margin: 0.5rem;
    border: 0.2rem inset rgb(255, 222, 222);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

nav li {
    margin: 0;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.2rem solid rgb(41, 0, 0);
    border-radius: 0.5rem;
}

nav a:link {
    transition: 200ms;
	background-color:  #a00000;
	color: #ffffff;
    border: 0.2rem solid rgb(41, 0, 0);
}
nav a:visited {
    transition: 200ms;
	background-color: #ff7272;
	color: #000;
    border: 0.2rem solid rgb(41, 0, 0);
}
nav a:hover {
    transition: 200ms;
	background-color: #ffffff;
	color: #a00000;
    border: 0.2rem solid rgb(0, 0, 0);
}
nav a:active {
    transition: 100ms;
	background-color: #000000;
	color: #ffffff;
    border: 0.2rem solid rgb(255, 255, 255);
}